<section class="container">
	<h3>本当に退会しますか？</h3>
	<h4>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。</h4>
	<div class="customer-back-btn">
		<%= link_to "マイページに戻る", customer_path(current_customer), class: "btn" %>
	</div>
	<div class="customer-delete">
		<%= link_to "退会する", withdraw_customer_path, method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn" %>
	</div>
</section>