<div class="container">
    <h1 class=title>EatingPickOut</h1>
    <h6>周辺の飲食店をマップ上で探せます</h6>
    <div class="btnsearch">
      <%= link_to "マップから探す", map_search_path,class: "btn",'data-turbolinks': false %>
    </div>
</div>