<div class="container">
  <div class="row">
    <div class="ml-5 mb-2 font-weight-bold bg-light">レビュー一覧</div>
  </div>
  <table class="table table-sm">
  <thead class="table-active">
    <tr>
      <th scope="col">投稿日時</th>
      <th scope="col">投稿者</th>
      <th scope="col">表示ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td>
        <%= link_to edit_admin_review_path(review.id) do %>
         <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
      </td>
      <td>
        <%= review.customer.name %>
      </td>
      <td>
        <%= review.is_active %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>