/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

  font-family: "Hiragino Maru Gothic ProN W4";
}

a {
  text-decoration: none;
}

header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
}

.navlink {
  list-style: none;
  display: inline-block;
  margin: 8px 20px;
  color: dimgray;
}

main {
  width: 90%;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

h1,h2,h3 {
  color: slategray;
  padding: 15px 0;
  display: flex;
  justify-content:space-around;
}

h4,h6 {
  color: darkgray;
  padding: 10px 0;
  display: flex;
  justify-content:space-around;
}


.btnsearch a {
  background-color: slategray;
  color: white;
  display: flex;
  justify-content:space-around;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50px;
}

.search-content,.favorite,.edit-pass,.login,.signup {
  width: auto;
  padding: 5px 0;
  display: flex;
  justify-content:center;
  margin: 5px auto;
}


input[type="textbox"] {
  width: 300px;
}

.map {
  width: auto;
  padding: 20px 0;
  display: flex;
  justify-content:center;
  margin: 15px auto;
}


.map-btn {
  border-radius: 50px;
  background-color: darkgray;
  color: white;
  height: 40px;
  width: 180px;
  margin: 0 10px;
  padding-left: 10px;
}

.map-search-btn,.search-btn {
  background-color: slategray;
  border-bottom-color: slategray;
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 250px;
}

.search-btn {
  height: 30px;
  width: 100px;
}

.genre_search {
  margin: 3px;
  padding: 15px 0;
}

.restaurant-content {
  color: dimgray;
  margin: 10px auto;
  padding: 30px;
  display: flex;
  justify-content:center;
  width: 350px;
  background-color: gainsboro;
}

.restaurant-content a {
  color: dimgray;
}

.customer,.edit-customer,.admin-page {
  display: flex;
  justify-content:space-around;
  color: dimgray;
  padding: 15px;
  margin: auto;
}

.customer-information,.edit {
  padding-bottom: 10px;
}

.btn-mypage a {
  background-color: lightsteelblue;
  color: whitesmoke;
  display: flex;
  justify-content:space-around;
  max-width: 150px;
  font-size: 15px;
  margin: 10px auto;
}

.review-btn a {
  background-color: lightcoral;
  color: whitesmoke;
  max-width: 150px;
  margin: 10px auto;
  font-size: 0.9em;
}

.reviews {
  width: 550px;
}

.review {
  color: dimgray;
  padding:5px;
  margin: 10px auto;
}

.review-restaurant {
  color: dimgray;
  padding:5px;
  margin: 10px auto;
  border-bottom-color: dimgray;
  border-bottom-style: inset;
}

.back-btn a ,.customer-back-btn a {
  background-color: gainsboro;
  font-size: 0.8em;
}

.favorite a {
  color: dimgray;
  border-bottom-style: inset;
}
.edit-customer {
  margin: 15px;
}

.edit-btn,.login-btn,.signup-btn,.admin-btn a,.admin-btn {
  background-color: lightsteelblue;
  border-radius: 50px;
  border-color: lightsteelblue;
  color: white;
  height: 35px;
  width: 150px;
  margin: auto;
}


.edit-pass-btn a ,.customer-delete a ,.submitbtn {
  color: white;
  max-width: 150px;
  font-size: 0.9em;
  margin: auto;
  display: flex;
  justify-content:space-around;
}

.edit-pass-btn a {
  background-color: lightsteelblue;
}

.customer-delete a {
  background-color: lightcoral;
}

.edit-pass,.login,.signup {
  color: dimgray;
}

.customer-back-btn a {
  max-width: 150px;
  font-size: 0.9em;
  margin: 10px auto;
  display: flex;
  justify-content:space-around;
}

.restaurant-content,.admin-image-form {
  display: flex;
  flex-flow: column;
}

.restaurant-show,.restaurant-show-review {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content:center;
  color: dimgray;
}

.restaurant-show-review {
  border-bottom: inherit;
  border-bottom-color: dimgray;
}

.submitbtn {
  background-color: darkgray;
  border-color: darkgray;
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
}

p {
  color: dimgray;
  font-size: 18px;
}

.random-btn a {
  color: dimgray;
  background-color: moccasin;
  max-width: 250px;
  border-radius: 50px;
  display: flex;
  justify-content:space-around;
  margin: auto;
}

/*.button {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 200px;*/
/*  min-height: 100px;*/
/*  padding: 10px;*/
/*  color: #fff;*/
/*  background-color: #00c7ce;*/
/*}*/

